{{#each model as |aboutSectionData index|}}
	<div {{action 'switchAboutSection' (concat "aboutSection" index) (concat "about.about-" index)}} class="section about-section" id="aboutKwicksSection{{index}}">
		<div id="aboutSection{{index}}"></div>
		<span class="sectionHeading">{{aboutSectionData.aboutsectionheading}}</span>
	</div>
{{/each}}

{{yield}}
