{{#liquid-unless awardSelected class="awardsExpanded"}}
  <div {{action "expandAward"}}>
    <img src="{{award.medal}}" alt="{{award.awardTitle}}" class="awards-index-img">   
    <div class="awards-index-heading">{{award.awardTitle}}</div>
  </div>
{{else}}
  <div id="awardExpanded" {{action "expandAward"}}>
  	
    <div id="imageWrapper">
      {{#light-box class="awardExpandedImage" href=award.diploma data-lightbox="awards" data-title=award.awardTitle}}
        <img src="/assets/images/zoom_icon.png" alt="Zoom Icon" class="zoom-icon">
      {{/light-box}}
    </div>
    
    
    <span id="awardExpandedBody">
      <span id="awardExpandedHeading">{{award.awardTitle}}</span>
      {{award.awardBody}}
    </span>
  </div>
{{/liquid-unless}}

