<div class="products-index" {{action "toggleModal"}}>
	<img src="{{product.thumb}}" alt="" class="products-index-img">
	<div class="products-index-text-wrapper">
		<div class="products-index-heading">{{product.name}}</div>
    <div class="products-index-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
	</div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=false
                  container-class="productModal"
                  
                  clickOutsideToClose=true
                  }}
    <img src="{{product.thumb}}" alt="">
    {{product.description}}
  {{/modal-dialog}}
{{/if}}