{{#each model.productsSectionData as |productsSectionData index|}}
	<div {{action 'switchProductSection' (concat "productsSection" index) (concat "products.product-" index)}} class="section products-section" id="productsKwicksSection{{index}}">
		<div id="productsSection{{index}}"></div>
		<span class="sectionHeading">{{productsSectionData.productsectionheading}}</span>
	</div>
{{/each}}

{{yield}}
