
<img src="{{product.thumb}}" alt="" class="products-index-img" {{action "toggleModal"}}>
<div class="products-index-text-wrapper" {{action "toggleModal"}}>
	<div class="products-index-heading">{{product.name}}</div>
	<div class="products-index-description">{{product.sdescription}}</div>
</div>

{{#liquid-if isShowingModal class="productExpanded"}}
  
{{else}}
  
{{/liquid-if}}

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
  	translucentOverlay=false
  	container-class="productModal"
  	clickOutsideToClose=true
  }}
    <img id="products-modal-image" src="{{product.thumb}}" alt="{{product.name}}">
    <div id="products-modal-text">
		<div id="products-modal-heading">{{product.name}}</div>
    	{{product.description}}
    </div>
  {{/modal-dialog}}
{{/if}}