<div class="products-index" {{action "toggleModal"}}>
	<img src="{{product.thumb}}" alt="" class="products-index-img">
	<div class="products-index-div">
		<span class="products-index-span">{{product.name}}</span>
	</div>
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  translucentOverlay=false
                  container-class="productModal"
                  
                  clickOutsideToClose=true
                  }}
    <img src="{{product.thumb}}" alt="">
    {{product.description}}
  {{/modal-dialog}}
{{/if}}