{{outlet}}
<div class="contact-wrapper">
  <div class="contact-content-container">
    <div class="contact-content-section1">
      <div class="company-address-container">
        <span class="header">Kakhuri Gvinis Marani</span> <br/>
        <span class="address">Address:</span> 4a Gamrekeli Turn, Tbilisi, Georgia <br/>
        <span class="tel">Tel:</span> +995 322 47 40 50
      </div>
      <div class="winery-address-container">
        <span class="header">Winery</span> <br/>
        <span class="address">Address:</span> 55 Saradjishvili Street, Gurjaani, Georgia
      </div>

      <div class="flogo-wrapper">
        <a class="flogo" href="https://www.facebook.com/kwcelll/" target="blank">
          <img src="assets/images/flogo.png" alt="Kakhuri Gvinis Marani">
        </a>
      </div>
    </div>
    <div class="contact-content-section2">
      <div class="section2-image-wrapper">
        <!-- {{lazy-image url="https://s3.eu-central-1.amazonaws.com/kwc-assets/contact/store.jpg" title="KWC Store" class="store-image"}} -->
      </div>
      <div class="store-address-container">
        <span class="header">The Store</span> <br/>
        <span class="address">Address:</span> 21 Tamarashvili Street, Tbilisi, Georgia <br/>
      </div>
    </div>
  </div>


  {{contact-map class="contact-map-container"}}
</div>



<!-- {{model.contactTitle}} -->
<!-- {{{model.contactBody}}} -->
