{{outlet}}

{{#zf-accordion id="newsAccordionWrapper"}}
  {{#each model as |news index|}}
    <li class="accordion-item {{custom-if index 0 "is-active"}}" data-accordion-item>
      <a class="accordion-title">{{news.newsTitle}}</a>
      <div class="accordion-content" data-tab-content>
        {{news.newsBody}}
        {{index}}
      </div>
    </li>
  {{/each}}
{{/zf-accordion}}
