{{outlet}}

{{#zf-accordion id="newsAccordionWrapper"}}
  {{#each model as |news index|}}
    <li class="accordion-item {{custom-if index 0 "is-active"}}" data-accordion-item>
      <a class="accordion-title">{{news.newsTitle}} </a>
      <div class="accordion-content" data-tab-content>
        <div>
          {{light-box class="newsImage" href=news.largeimg data-lightbox="newsImage"}}
          {{news.newsBody}}  
        </div>
      </div>
    </li>
  {{/each}}
{{/zf-accordion}}
