<article class="accordion">
	<section id="product-1">
		<a href="products#product-1">
			<h2>Bottled</h2>
		</a>
		{{#each productsBottle as |p|}}
			{{product-listing product=p}}
		{{/each}}


		<select {{action 'change' on='change'}}>
			{{#each productsBottle as |item|}}
				<option value="{{item.name}}" selected={{is-equal item.name selectedItem.name}}>
					{{item.name}}
				</option>
			{{/each}}
		</select>
		


	</section>
	<section id="product-2">
		<a href="products#product-2">
			<h2>Qvevri</h2>
			<p>This content appears on page 2.</p>
		</a>
		{{#each productsQvevri as |p|}}
			{{product-listing product=p}}
		{{/each}}
	</section>	

	<section id="product-3">
		<a href="products#product-3">
			<h2>Spirits</h2>
			<p>This content appears on page 3.</p>
		</a>
		{{#each productsSpirit as |p|}}
			{{product-listing product=p}}
		{{/each}}
	</section>	
</article>	

{{outlet}}
